

body {
  
    font-size: 200%;
    
  }
  
  .green > p {
    
    animation: key 2.25s  infinite;;
  }
  
  
  @keyframes key {
    0%, 100% {
      color:green;
    }
    
    10%, 90% {
      color:white;
    }
  }
  
  
 

  
  .green > p {
      animation-delay: 1.25s;
  }
  
  