

body {
  
    font-size: 200%;
    
  }
  
  .yellow > p {
    
    animation: key 2.25s  infinite;;
  }
  
  
  @keyframes key {
    0%, 100% {
      color: yellow;
    }
    
    10%, 90% {
      color:white;
    }
  }
  
  
  
 
  
  .yellow > p {
      animation-delay: 1s;
  }
  
  
  